.signup-main__form__card {
    border: 1px solid var(--tertiary);
    border-radius: var(--border-rounded);
    padding: 1rem;
    margin-top: 1rem;
    box-shadow: 0.25rem 0.25rem 0.15rem var(--light);
}

.signup-main__form__card:last-child {
    margin-bottom: 1rem;
}

.signup-main__form__title {
    color: var(--primary-dark);
    margin-bottom: 1rem;
}

.signup-main__form__input {
    margin-bottom: 0.45rem;
    padding: 0.55rem;
    border-radius: var(--border-rounded);
    border: 1px solid;
    border-color: var(--tertiary);
    background-color: var(--white);
    font-size: 0.65rem;
}

.signup-main__form__input::placeholder {
    font-size: 0.65rem;
}

.signup-main__form__input:active {
    border-color: var(--primary);
}

.signup-main__form__input:focus {
    background-color: var(--light);
}

.signup-main__form__button {
    padding: 0.35rem 0.7rem;
    margin-top: 0.25rem;
    color: var(--white);
    background-color: var(--primary);
    font-size: 0.7rem;
    font-weight: 700;
    border-radius: var(--border-rounded);
    border: none;
    cursor: pointer;
}

.signup-main__form__button:hover {
    color: var(--light);
    background-color: var(--confirm);
}

.signup-main__form__paragraph {
    font-size: 0.75rem;
    text-align: center;
}

.signup-main__form__paragraph__link {
    color: var(--primary);
}

.signup-main__form__paragraph__link:hover {
    color: var(--dark);
}

.signup-main__form__validation {
    margin-bottom: 0.45rem;
    padding: 0.35rem 0.2rem;
    font-size: 0.75rem;
    display: none;
}

.signup-main__form__validation-error {
    color: var(--danger);
}

.signup-main__form__validation-success {
    margin-top: 0.5rem;
    padding-left: 0.5rem;
    border-radius: var(--border-rounded);
    color: var(--white);
    background-color: var(--confirm);
}